.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #FFB2A6;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #9ADCFF;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #7D1E6A ;
}