body {
    background-color: #18385d
}

.grid {
    margin: auto;
    position: relative;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    background-color: #465f7d    ;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #FFB2A6;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #9ADCFF;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #C6FFA6 ;
}

#score {
    text-align: center;
    font-size: 4rem;
    color: #DFA6FF;
    font-family: "DotGothic16";
}